.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden; }

.container {
  overflow: hidden;
  width: 100%; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  z-index: 100; }
  .header__logo {
    width: 109px;
    height: 30px;
    margin: 23px 0 8px;
    background: url("../img/bg_header_logo.png") center no-repeat;
    background-size: 109px 30px; }
  .header__nav {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .header__nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transform: translateX(2px);
      transform: translateX(2px); }
    .header__nav__item {
      position: relative; }
      .header__nav__item:nth-child(2) {
        margin-left: 41px; }
      .header__nav__item:nth-child(3) {
        margin-left: 30px; }
      .header__nav__item.on::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -9px;
        right: -9px;
        height: 4px;
        background-color: #fff; }
    .header__nav__menu {
      display: block;
      padding: 11px 0;
      -webkit-box-sizing: content-box;
      box-sizing: content-box; }
      .header__nav__menu.program {
        width: 82px;
        height: 10px;
        background: url("../img/bg_header_program.png") center no-repeat;
        background-size: contain; }
      .header__nav__menu.persona {
        width: 80px;
        height: 10px;
        background: url("../img/bg_header_persona.png") center no-repeat;
        background-size: contain; }
      .header__nav__menu.metaverse {
        width: 104px;
        height: 10px;
        background: url("../img/bg_header_metaverse.png") center no-repeat;
        background-size: contain; }

.scroll__section__inner {
  position: relative;
  max-width: 600px;
  height: 100%;
  margin: 0 auto; }

.scroll__section1 {
  position: relative;
  height: 844px;
  background: url("../img/bg_section_1.jpg") center no-repeat;
  background-size: 1920px 844px; }
  .scroll__section1 .section1__box1 {
    position: absolute;
    top: 161px;
    right: 0;
    left: 50%;
    width: 389px;
    height: 134px;
    margin-left: -194.5px; }
  .scroll__section1 .section1__box2 {
    position: absolute;
    top: 238px;
    right: 22px;
    left: 50%;
    width: 1175px;
    height: 606px;
    margin-left: -587.5px; }
  .scroll__section1 .section1__box3 {
    position: absolute;
    top: 726px;
    right: 0;
    left: 50%;
    width: 200px;
    height: 47px;
    margin-left: -100px; }
    .scroll__section1 .section1__box3 a {
      display: block; }

.scroll__section2 {
  height: 399px;
  background: url("../img/bg_section_2.jpg") center #000 no-repeat;
  background-size: 956px 381px; }
  .scroll__section2 .section2__box1 {
    position: absolute;
    top: 124px;
    left: 50%;
    width: 322px;
    height: 117px;
    margin-left: -161px; }
    .scroll__section2 .section2__box1 .box {
      position: relative;
      z-index: 10; }
    .scroll__section2 .section2__box1::before, .scroll__section2 .section2__box1::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 5; }
    .scroll__section2 .section2__box1::before {
      top: -86px;
      left: -36px;
      width: 147px;
      height: 184px;
      /* background: url("../img/bg_section_2_card1.png") no-repeat; */
      /* background-size: 147px 184px;  */
    }
    .scroll__section2 .section2__box1::after {
      top: 48px;
      right: -36px;
      width: 161px;
      height: 180px;
      /* background: url("../img/bg_section_2_card2.png") no-repeat; */
      /* background-size: 161px 180px;  */
    }

.scroll__section5 {
  height: 848px;
  background-color: #000; }
  .scroll__section5 .section5__box2 .metalink {
    position: absolute;
    top: 237px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 250px;
    height: 500px;
    background: url("../img/bg_section_5_box2.png") no-repeat;
    background-size: 250px 500px; }
    .scroll__section5 .section5__box2 .metalink__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 54px 25px; }
    .scroll__section5 .section5__box2 .metalink__item {
      width: 50%;
      text-align: center; }
      .scroll__section5 .section5__box2 .metalink__item:first-child {
        width: 100%; }
    .scroll__section5 .section5__box2 .metalink__img {
      width: 76px;
      height: 76px;
      margin: 0 auto;
      background: url("../img/bg_metalink.png") center no-repeat;
      background-size: 76px 76px; }
    .scroll__section5 .section5__box2 .metalink__name {
      display: block;
      overflow: hidden;
      font-weight: bold;
      font-size: 13px;
      font-weight: bold;
      color: #ccc;
      text-overflow: ellipsis;
      white-space: nowrap;
      letter-spacing: -1px; }
    .scroll__section5 .section5__box2 .metalink__link {
      display: block;
      text-decoration: none; }

.ly_vote {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  max-width: 390px;
  height: 1413px;
  margin: 0 auto; }
  .ly_vote_box {
    position: relative; }
    .ly_vote_box img {
      width: 100%; }
  .ly_vote_link {
    position: absolute;
    right: 73px;
    bottom: 80px;
    left: 75px;
    display: block;
    height: 57px; }
  .ly_vote_close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px; }
    .ly_vote_close::before, .ly_vote_close::after {
      position: absolute;
      top: -2px;
      left: 7px;
      width: 1px;
      height: 20px;
      background-color: #fff;
      content: ''; }
    .ly_vote_close::before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .ly_vote_close::after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
      .ly_vote_text {
        position: absolute;
        bottom: 60px;
        width: 100%;
        color: white;
        font-size: 12px;
        text-align: center;
    }
    .ly_vote label {
        position: absolute;
        bottom: 25px;
        left: 20px;
        color: #fff;
        font-size: 14px;
    }
    .ly_vote input[type=checkbox] {
        width: 20px;
        height: 20px;
        margin-top: -1px;
        vertical-align: text-top;
    }
  .ly_vote.on {
    display: block; }

.section1__box1.bounceInfinite {
  -webkit-animation: fadeInUp 0.5s both, bounceInfinite 1s infinite alternate;
  animation: fadeInUp 0.5s both, bounceInfinite 1s infinite alternate; }

@-webkit-keyframes bounceInfinite {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); } }
@keyframes bounceInfinite {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
} }

/*# sourceMappingURL=main.css.map */
