.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden; }

.container {
  overflow: hidden;
  width: 100%; }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  z-index: 100; }
  .header__logo {
    width: 109px;
    height: 30px;
    margin: 23px 0 8px;
    background: url("../img/bg_header_logo.png") center no-repeat;
    background-size: 109px 30px; }
  .header__nav {
    flex: 1; }
    .header__nav__list {
      display: flex;
      transform: translateX(2px); }
    .header__nav__item {
      position: relative; }
      .header__nav__item:nth-child(2) {
        margin-left: 41px; }
      .header__nav__item:nth-child(3) {
        margin-left: 30px; }
      .header__nav__item.on::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -9px;
        right: -9px;
        height: 4px;
        background-color: #fff; }
    .header__nav__menu {
      display: block;
      padding: 11px 0;
      box-sizing: content-box; }
      .header__nav__menu.program {
        width: 82px;
        height: 10px;
        background: url("../img/bg_header_program.png") center no-repeat;
        background-size: contain; }
      .header__nav__menu.persona {
        width: 80px;
        height: 10px;
        background: url("../img/bg_header_persona.png") center no-repeat;
        background-size: contain; }
      .header__nav__menu.metaverse {
        width: 104px;
        height: 10px;
        background: url("../img/bg_header_metaverse.png") center no-repeat;
        background-size: contain; }

.scroll__section__inner {
  position: relative;
  max-width: 600px;
  height: 100%;
  margin: 0 auto; }

.scroll__section1 {
  position: relative;
  height: 844px;
  background: url("../img/bg_section_1.jpg") center no-repeat;
  background-size: 1920px 1164px; }
  .scroll__section1::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000); }
  .scroll__section1 .section1__box1 {
    position: absolute;
    top: 119px;
    right: 0;
    left: 0; }
  .scroll__section1 .section1__box2 {
    position: absolute;
    top: 229px;
    right: 22px;
    left: 22px; }
  .scroll__section1 .section1__box3 {
    position: absolute;
    top: 599px;
    right: 0;
    left: 0; }

.scroll__section2 {
  height: 406px;
  background-color: #000; }
  .scroll__section2 .section2__box1 {
    position: absolute;
    top: 0;
    left: 50%;
    width: 390px;
    height: 207px;
    margin-left: -195px; }
  .scroll__section2 .section2__box2 .box {
    position: absolute;
    top: 220px;
    right: 20px;
    left: 20px; }
    .scroll__section2 .section2__box2 .box p {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 18px;
      color: #fff;
      text-align: center;
      line-height: 24px; }

.scroll__section5 {
  height: 1474px;
  background: url("../img/bg_section_5.jpg") #000 center no-repeat;
  background-size: 1920px 1651px; }
  .scroll__section5 .section5__box1 {
    position: absolute;
    top: 339px;
    right: 0;
    left: 0; }
  .scroll__section5 .section5__box2 .metalink {
    position: absolute;
    top: 767px;
    left: 50%;
    transform: translateX(-50%);
    width: 236px;
    height: 500px;
    padding: 4px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 22px;
    border: solid 1px #707070; }
    .scroll__section5 .section5__box2 .metalink__title {
      width: 206px;
      height: 24px;
      margin: 11px auto 25px;
      background: url("../img/bg_metalink_title.png") center no-repeat;
      background-size: 206px 24px; }
    .scroll__section5 .section5__box2 .metalink__inner {
      height: 100%;
      border-radius: 19px;
      border: solid 1px #707070; }
    .scroll__section5 .section5__box2 .metalink__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 20px; }
    .scroll__section5 .section5__box2 .metalink__item {
      width: 50%;
      margin-bottom: 6px;
      text-align: center; }
    .scroll__section5 .section5__box2 .metalink__img {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      background: url("../img/bg_metalink.png") center no-repeat;
      background-size: 90px 90px; }
    .scroll__section5 .section5__box2 .metalink__name {
      display: block;
      overflow: hidden;
      font-weight: bold;
      font-size: 13px;
      font-weight: bold;
      color: #ccc;
      text-overflow: ellipsis;
      white-space: nowrap;
      letter-spacing: -1px; }
    .scroll__section5 .section5__box2 .metalink__link {
      display: block;
      text-decoration: none; }
      .scroll__section5 .section5__box2 .metalink__link:hover .metalink__img {
        background: url("../img/bg_metalink_on.png") center no-repeat;
        background-size: 90px 90px; }

.section1__box1.bounceInfinite {
  -webkit-animation: fadeInUp 0.5s both, bounceInfinite 1s infinite alternate;
  animation: fadeInUp 0.5s both, bounceInfinite 1s infinite alternate; }

@-webkit-keyframes bounceInfinite {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-20px); } }
@keyframes bounceInfinite {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-20px); } }

/*# sourceMappingURL=main.css.map */
